.list {
  list-style: none;
  padding: 0;
  margin: 0;
  min-height: 4rem;
  display: flex;
  background-color: var(--accent-color);
  white-space: nowrap;
  overflow: auto hidden;
  box-shadow: 0 0 1rem rgba(black, 0.1);

  @supports (backdrop-filter: blur(0.5rem)) {
    background-color: rgba($accent-color, 0.75);
    backdrop-filter: blur(0.5rem);
  }
}

.item {
  flex: 1;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: none !important;
  height: 100%;
  padding: 0.25rem 0.5rem;
  color: var(--light-color);
  position: relative;

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    bottom: 0;
    width: 0;
    background-color: rgba($dark-color, 0.5);
    transition: all 0.25s ease-out;
    transform: translateX(-50%);
    opacity: 0;
  }

  &:hover {
    color: var(--light-color);
  }

  &:global(.router-link-active) {
    &::before {
      width: 100%;
      opacity: 1;
    }
  }
}

.container {
  z-index: 1;
  overflow: hidden;
}

.icon {
  display: block;
  margin: 0 auto;
}

.label {
  margin-top: 0.25rem;
  display: none;
  overflow: hidden;
  text-overflow: ellipsis;

  @include media-breakpoint-up(sm) {
    display: block;
  }
}
