.badge {
  padding: 0.25em 0.5em;

  &.primary {
    background-color: var(--primary-color);
    color: var(--dark-color);
  }

  &.secondary {
    background-color: var(--accent-color);
    color: var(--dark-color);
  }

  &.tertiary {
    background-color: var(--accent-color);
    color: var(--light-color);
  }

  &.dark {
    background-color: var(--dark-color);
    color: var(--light-color);
  }

  &.light {
    background-color: var(--light-color);
    color: var(--dark-color);
  }
}
