.sidebar {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 10;
  width: 25%;
  background-color: var(--primary-color);
  color: var(--dark-color);
  overflow: hidden auto;
  box-shadow: 0 0.5rem 0.5rem rgba(black, 0.1);

  @include media-breakpoint-down(md) {
    position: static;
    top: auto;
    left: auto;
    bottom: auto;
    width: auto;
  }
}

.main {
  margin-left: 25%;
  margin-bottom: 5rem;

  @include media-breakpoint-down(md) {
    margin-left: auto;
  }
}

.navbar {
  position: fixed;
  left: 25%;
  right: 0;
  bottom: 0;
  z-index: 10;

  @include media-breakpoint-down(md) {
    left: 0;
  }
}
