.card {
  box-shadow: 0 0.25rem 0.25rem rgba(black, 0.1);
}

.header {
  padding: 0.5rem 1rem;
  background-color: var(--primary-color);

  a {
    color: inherit;

    &:hover {
      color: var(--accent-color);
    }
  }
}

.headerText {
  margin-bottom: 0;
  color: var(--dark-color);
  text-shadow: none;
}

.body {
  padding: 1rem;
  background-color: var(--dark-color-darker);
  color: var(--light-color);
}

.footer {
  padding: 0.5rem 1rem;
  background-color: var(--dark-color-lighter);
  color: var(--light-color);

  a {
    color: inherit;

    &:hover {
      color: var(--primary-color);
    }
  }
}
