@font-face {
  font-family: 'Jost';
  font-style: normal;
  font-weight: normal;
  src: url('~@/assets/fonts/Jost400Book.woff') format('woff');
}

@font-face {
  font-family: 'Jost';
  font-style: normal;
  font-weight: bold;
  src: url('~@/assets/fonts/Jost700Bold.woff') format('woff');
}
