$primary-color: #B1CD00;
$primary-color-darker: scale-color($primary-color, $lightness: -25%, $saturation: -25%);
$accent-color: #CD8300;
$accent-color-darker: scale-color($accent-color, $lightness: -25%, $saturation: -25%);
$light-color: #e5e5e5;
$dark-color: #404040;
$dark-color-darker: scale-color($dark-color, $lightness: -25%);
$dark-color-lighter: scale-color($dark-color, $lightness: 25%);
